* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Serif 4", Georgia, serif;
  background: #faf6f0;
  color: #2c2520;
  -webkit-font-smoothing: antialiased;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
